REACT_APP_ENV=PRODUCTION
REACT_APP_PUBLIC_URL=http://localhost:3000/
GENERATE_SOURCEMAP=false

# Set to production when deploying
NODE_ENV=development

# Google analytics ID
REACT_APP_GA_ID=

BASE_PATH=/

REACT_APP_DB_KEY=
REACT_APP_DB_USERNAME=
